body {
      font-family: "Roboto", sans-serif;
      padding: 0;
      margin: 0;
}

ul {
      padding: 0;
      margin: 0;
      list-style: none;
}

a {
      text-decoration: none;
      color: #f9faf8;
}

h1,
h2 {
      margin: 0px;
}

p {
      margin: 0;
}

.container {
      padding-left: 10%;
      padding-right: 10%;
}

/* Hero and Header */
.hero {
      margin-bottom: 30px;
      background-color: #1f2937;

      color: #f9faf8;
}

header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
}

.logo {
      width: 100px;
      height: 100px;
}
.links {
      display: flex;
      gap: 20px;
      align-items: center;

      font-size: 24px;
}

/* Hero */
.section-hero {
      display: flex;
      gap: 20px;
      justify-content: space-between;

      padding: 20px 0px;
}
.section-hero-wrapper {
      max-width: 700px;
}
.hero-maintext {
      font-size: 48px;
      font-weight: 900;

      margin: 0;
}
.hero-sec-text {
      color: #e5e7eb;
      font-size: 18px;

      margin-top: 0px;
      margin-bottom: 10px;
}
.hero-image {
      width: 350px;
      height: auto;

      align-self: center;

      border-radius: 10px;
}

/* Buttons */

button {
      height: 40px;

      padding: 10px 20px;

      color: #e5e7eb;
      font-family: inherit;
      background-color: #3882f6;
      border-radius: 5px;
      border: none;

      cursor: pointer;
}

/* section-info */

.section-info {
      font-size: 18px;

      margin-bottom: 40px;
}

.info-maintext {
      font-size: 36px;
      font-weight: 600;
      text-align: center;

      color: #1f2937;

      margin-bottom: 20px;
}

.breeds-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;

      gap: 40px;
}

.breeds-list-item {
      width: 300px;
}

.breed-image {
      width: 300px;

      border-radius: 10px;
}

/* quote */
.section-quote {
      padding-top: 80px;
      padding-bottom: 80px;

      background-color: #e5e7eb;
}

.quote-wrapper {
      max-width: 600px;
      margin: 0 auto;
}
.quote {
      display: block;
      font-size: 36px;
      font-style: italic;
      color: #1f2937de;
      font-weight: lighter;

      text-align: left;
      margin-bottom: 20px;
}

.author {
      font-size: 24px;
      font-weight: bold;
      text-align: right;

      margin: 0;
}
/* Call to action */
.action-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      box-sizing: border-box;

      max-width: 80%;
      padding: 40px 10%;
      margin: 60px auto;

      background-color: #3882f6;
      border-radius: 10px;

      color: #f9faf8;
}

.action-header {
      font-size: 24px;
      margin-bottom: 10px;
}
.action-text {
      font-size: 18px;
}

.action-button {
      border: 2px solid #f9faf8;
      color: #f9faf8;
      flex-shrink: 0;
}

/* footer */
footer {
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #1f2937;

      color: #f9faf8;
}
