body {
      font-family: "Roboto", sans-serif;
      padding: 0;
      margin: 0;
}

ul {
      padding: 0;
      margin: 0;
      list-style: none;
}

a {
      text-decoration: none;
      color: #f9faf8;
}

h1,
h2 {
      margin: 0px;
}

/* Hero and Header */
.hero {
      padding-left: 10%;
      padding-right: 10%;
      margin-bottom: 30px;
      background-color: #1f2937;

      color: #f9faf8;
}

header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
}

.logo {
      width: 100px;
      height: 100px;
}
.links {
      display: flex;
      gap: 20px;
      align-items: center;

      font-size: 24px;
}

/* Hero */
.section-hero {
      display: flex;
      gap: 20px;
      justify-content: space-between;

      padding: 20px 0px;
}
.section-hero-wrapper {
      max-width: 700px;
}
.hero-maintext {
      font-size: 48px;
      font-weight: 900;

      margin: 0;
}
.hero-sec-text {
      color: #e5e7eb;
      font-size: 18px;

      margin-top: 0px;
      margin-bottom: 10px;
}
.hero-image {
      width: 350px;
      height: auto;

      align-self: center;

      border-radius: 10px;
}

/* Buttons */

button {
      padding: 10px 20px;

      color: #e5e7eb;
      font-family: inherit;
      background-color: #3882f6;
      border-radius: 5px;
      border: none;

      cursor: pointer;
}

/* section-info */

.section-info {
      padding-left: 10%;
      padding-right: 10%;

      font-size: 18px;
}

.info-maintext {
      font-size: 36px;
      font-weight: 600;
      text-align: center;

      color: #1f2937;

      margin-bottom: 20px;
}

.breeds-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;

      gap: 40px;
}

.breeds-list-item {
      width: 300px;
}

.breed-image {
      width: 300px;

      border-radius: 10px;
}
